* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.conteiner80 {
    width: 80%;
    margin: 0 auto;
}

#nav-fix {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 10vh;
    z-index: 3;
    background-color: #F4F9FD;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-chevron-down {
    margin-right: 20px;
}
.search-bar .fa-chevron-down {
    margin-right: 0;
    margin-left: 10px;
}

.contact {
    padding: 0 25px;
    border-left: 2px solid grey;
}

.list-inline {
    display: inline-block;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    margin-left: 25px;
}
.list-inline a {
    cursor: pointer;
    text-decoration: none;
}

.fa-search {
    color: #00a5be;
}

.height10vh {
    line-height: 10vh;
    height: 10vh;
}
header nav {
    margin-top: 10vh;
}



/* buttons */
button {
    border: none;
}
.btn {
    padding: 10px;
    border-radius: 5px;
    
}
.btn-orange {
    color: white;
    background-color: #FE775A;
    border: 1px solid #FE775A;
}
.btn-white {
    color: #FE775A;
    background-color: white;
    border: 1px solid #FE775A;
}
